<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="css-table-16/layout::header('City List')">
</head>
<body>
<div>
    <div>
        <h2>Danh sách thành phố</h2>
    </div>
    <div>
        <a th:href="@{/cities/create}">Add new city</a>&nbsp;
    </div>
</div>

<div align="center">
    <table border="1" cellpadding="5">
        <tr>
            <th>#</th>
            <th>Thành phố</th>
            <th>Quốc gia</th>
            <th></th>
        </tr>
        <tr th:each="c: ${cities}">
            <td th:text="${c.getId()}"></td>
            <td><a th:href="@{/cities/view/{id}(id=${c.getId()})}" th:text="${c.getCityName()}"></a></td>
            <td th:text="${c.country.country}"></td>
            <td>
                <button id="delete" onclick="return confirm('Are you sure?')">
                    <a th:href="@{/cities/delete/__${c.id}__}">Xóa</a>
                </button>

                <button id="edit">
                    <a th:href="@{/cities/edit/__${c.id}__}">Edit</a>
                </button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>